{
  "extends": "airbnb",
  "ignorePatterns": ["node_modules/", "**/dist/*"],
  "rules": {
    "max-len": 0,
    "linebreak-style": 0,
    "function-paren-newline": 0,
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "implicit-arrow-linebreak": 0,
    "object-curly-newline": 0,
    "operator-linebreak": 0
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
